<div class="container">
    <div class="row">
	<div class="col-xs-8">
	    <h2> Add New Post </h2>
	    <%= render 'form' %>
	    <br />
	    <h4>   <%= render 'layouts/shared_post_links/home' %> </h4>
	</div>

    </div>
</div>
