<div class="container">
    <div class="row">
	<div class="col-xs-8">
	    <h2> <%= @post.title %> </h2>
	    <p> <%= @post.body %> </p>
	    <br /> 
	    <%= render 'layouts/shared_post_links/actions' %>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div class="col-xs-4">
	    <h2> Similar Articles </h2>
	    <% @posts.each do |post| %>
		<h4>  <%= link_to post.title, post_path(post.id) %> </h4>
	    <% end %>
	</div>

    </div>
</div>
